body{
    margin: 0;
    background-color: #AB88FF;
}
.header{
    width: 100%;
    height: 80px;
    background-color: #AB88FF;
    display: flex;
    justify-content: space-between;
}
.header__img{
    width: 200px;
    margin: 0;
    text-align: center;
    flex-shrink: 0;
}
.header__menu{
    margin-right: 40px;
    width: 100px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin-right: 40px;
}
.header__menu li {
    margin: 10px 0px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.header__menu:hover ul, ul:hover{
    display: block;
} 
.header__menu--profile{
    margin-right: 40px;
    width: 40px;
    display: flex;
}
.header__menu--profile img{
    width: 40px;
}
.header__menu--profile p{
    color: white;
    padding-left: 10px;
}
.buscador{
    height: 300px;
}
.buscador__titulo{
    color: white;
    font-size: 25px;
}
.input{
    height: 20px;
    border: 2px solid white;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 16px;
    background-color: rgba(255,255,255,.1);
    width: 70%;
}
::placeholder{
    color: white;
}
.carrusel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carrusel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carrusel__item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: yellow;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}
.carrusel__item:hover ~ .carrusel__item {
    transform: translate3d(100px, 0, 0);
}
.carrusel__container:hover .carrusel__item{
    opacity: 0.3;
}
.carrusel__container:hover .carrusel__item:hover{
    transform: scale(1.5);
    opacity: 1;
}