html, body{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: helvetica;
}
/* seccion del nav */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #7acc2d;
    padding: 10px;
    color: white;
    align-items: center;
}
nav figure{
    height: 40px;
}
nav figure img{
    height: 100%;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    padding-right: 10px;
}
nav li a{
    color: black;
    text-decoration: none;
}
nav li a:hover{
    color: white;
    text-decoration: none;
}
/* seccion main */
.main_section{
    padding: 20%;
    text-align: center;
}
/* seccion productos*/
.products{
    background-color: blue;
    height: 200px;
    padding: 20px;
    display: flex;
}
.product{
}
.product .content{
    background-color: white;
    padding: 20px;
}