@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot');
    src:  url('fonts/icomoon.eot') format('embedded-opentype'),
      url('fonts/icomoon.ttf') format('truetype'),
      url('fonts/icomoon.woff') format('woff'),
      url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  


body{
    font-family: 'Source Sans Pro' Arial, sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', Times, serif;
    font-weight: normal;
    margin: 0;
}
.header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
figure {
    margin: 0;
}
.menu {
    height: inherit;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: inherit;
}
.menu ul li {
    height: inherit;
}
.menu .link{
    text-decoration: none;
    color: white;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero{
    background-color: #1b2127;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 2em;
}
h1{
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    z-index: 2;
}
h1 strong {
    color: #026fff;
}
.hero-image{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    max-width: 100%;
}
.portfolio{
    background-color: #fafafa;
    margin: 0;
    padding: 20;
}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro' Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.portfolio div div{
    display: flex;
    flex-wrap: wrap;
}
.project{
    max-width: 640;
    border: grey 1px solid;
    border-radius: 10px;
    margin:  20 0;
    margin-bottom: 15;
    background-color: #f4fbff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project strong{
    font-family: 'Fjalla One', Times, serif;  
}
.project-text{
    width: 45%;
    text-align: justify;
    padding-right: 20px;   
}
.project-title{
    font-size: 20;
    margin-bottom: 10;
}
.project-disponible, .project-date, .project-description{
    margin-bottom: 10;
}
.project-imagewraper{
    width: 45%;
    margin: 0;
    border-radius: 20px;
    border: solid 1px black;
    overflow: hidden;
}
.project-image{
    width: 100%;
}
.experience{
    background-color: #fafafa;
    padding: 20;
    padding-top: 0;
}
.experience .container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cursos{
    width: 45%;
    border: grey 1px solid;
    border-radius: 10px;
    margin:  20 0;
    margin-bottom: 15;
    background-color: #f4fbff;
    padding: 15px;
}
.video-html{
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.video-extwraper{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-color: #026fff;
    margin-bottom: 15px; 
    border-radius: 10px;
    overflow: hidden;
}
.video-ext{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cursos-url{
    color: #056fff;
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px; 
}
.contacto {
    background-color: #056fff;
    color: white;
    min-height: 150;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20;
}
.form-email input{
    border-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: solid;
}
.form-email button{
    display: block;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px auto 0;
}
.social-link{
    display: inline-block;
    width: 50;
    height: 50;
    background-size: 50px 50px;
}
.social-link.facebook{
    background-image: url(unnamed.png);
}
.social-link.twitter{
    background-image: url(unnamed.png);
}
.social-link.github{
    background-image: url(unnamed.png);
}
.social-link.instagram{
    background-image: url(unnamed.png);
}
.footer{
    color: white;
    min-height: 50;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer img{
    vertical-align: middle;
}
.footer div{
    padding: 0 25;
}
.container{
    max-width: 1400px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    text-align: center;
    line-height: 40px;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;

}
/* desktop first, comienza desde el MQ mas grande */

@media screen and (max-width:1024px){
    
}
@media screen and (max-width:767px){
    .burger-button{
        display: block;
    }
    .header{
        display: block;
        height: auto;
    }
    .header ul{
        display: block;
    }
    .header ul li{
        height: 70px;
    }
    .header a{
        justify-content: center;
        font-size: 30px;
    }
    .header .logo{
        text-align: center;
    }
    .menu{
        position: fixed;
        background-color: rgba(5, 111, 225, .9);
        z-index: 3;
        left: -100vw;
        top: 0;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .menu.is-active{
        left: 0;
    }
    .hero{
        height: auto;
        position: relative;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
    }
    h1{
        font-size: 2em;
        z-index: 2;
    }
    .cursos{
        display: block;
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width:479px){
    .hero-image{
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1{
        font-size: 1.4em;
    }
    .project{
        display: block;
    }
    .project-imagewraper{
        width: auto;
    }
    .project-text{
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .proyect-title{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .project-disponible{
        font-size: .8em;
        margin: 0.5em 0;
    }
    .project-date{
        font-size: 1em;
        margin: 0 0;
    }
    .project-description{
        font-size: 1em;
    }
    .contacto{
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer div{
        text-align: center;
    }
}
@media screen and (max-width:320px){

}